# Ignore dependencies and build output
node_modules/
.next/
.turbo/
.vercel/
out/
build/
dist/

# Ignore test-related files and coverage
coverage/
__tests__/
**/*.test.*
**/*.spec.*

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore environment & config files not needed in production
.env*

# Ignore editor & OS files
.DS_Store
.vscode/
.git
.gitignore 