# build artefacts
__pycache__/
.pytest_cache/
frontend/.next/
*.sqlite

*.csv
*.pkl

# OS noise
.DS_Store
.cursor
.vscode

# secrets
.env

# virtual environment
venv/
venv

# frontend build artefacts and caches
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
frontend/out/
frontend/build/
frontend/dist/
frontend/.turbo/
frontend/.vercel/